.h{
    background-color:white;
    border: 2px solid rgb(168, 81, 96);
    border-radius: 10px;
}
hr{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-width: 5px;
    border-color:rgb(146, 102, 102);
}
h1{
    float:center;
    
}
input[type=text]{
    padding: 12px 18px;
    margin:8px 0;
    box-sizing: border-box;
    border:1px solid burlywood;
    border-width: 3px;
    border-color: rgb(103, 82, 82);
    outline:none;
}
input[type=text]:focus{
    border: 1px solid green;
}
label{
    display: block;
    clear: left;
    width:400px;
    text-align:center;
   float:left; 
}
input{
    display:inline-block;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 200px;
}
img{
    width: 400px;
    height: 200px;
  float: left;
}
header{
    background-color:rgb(190, 179, 201);
    padding: 150px;;
    color:rgb(25, 66, 53);
}